<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.4/katex.min.css"
    />

    <!-- MathJax -->
    <script
      type="text/javascript"
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js"
    ></script>
    <script type="text/javascript">
      window.MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
          displayMath: [
            ["$$", "$$"],
            ["\\[", "\\]"],
          ],
        },
        options: {
          renderActions: {
            addMenu: [0, "", ""], // Disable the MathJax menu
          },
        },
      };
    </script>
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
      </div>
    </header>

    <main>{{ content }}</main>

    <footer>
      <p>© {{ "now" | date: "%Y" }} {{ site.title }}</p>
    </footer>
  </body>
</html>
